.controls {
    position: absolute;
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 5px;
    border-radius: 0;
    transition: visibility 0.2s, opacity 0.2s ease-in-out;

    &[style*='visibility: hidden'] {
        opacity: 0;
    }

    /* Add fade effect */
    opacity: 1;

    .number-label {
        color: #ffffff;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 9px;
    }

    .loop-option {
        transform: scale(0.8);
    }

    button {
        background: transparent;
        color: #ffffff;
        cursor: pointer;
        line-height: 1;
        border: none;
    }

    input[type='range'] {
        flex: 1;
        height: 4px;
        background-color: #67706a;
        border-radius: 1px;
        transition: background 450ms ease-in;
        -webkit-appearance: none;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 4px;
        border: none;
        -webkit-appearance: none;
    }

    input[type='range']::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        margin-top: -5px;
        cursor: pointer;
        border-radius: 100%;
        background-color: #c9c4c4;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        -webkit-appearance: none;
    }
}