<div class="controls__container">
    <!-- Fabric.js Canvas -->
    <canvas #canvas></canvas>

    <!-- Video Controls -->
    <div
        #controls
        id="controls"
        class="controls"
    >
        <!-- Play/Pause Button -->
        <button (click)="playPauseVideo()">
            <span class="material-symbols-sharp">
                  {{ isPlaying ? 'pause' : 'play_arrow' }}
            </span>
        </button>
        <!-- Current Time -->
        <span class="controls__number-label">{{ currentTimeLabel }}</span>

        <!-- Scrubber -->
        <input
                #scrubber
                type="range"
                min="0"
                [max]="videoDuration"
                step="0.01"
                [(ngModel)]="currentTime"
                (input)="onScrubberChange()"
        />
        <!-- Total Time -->
        <span class="controls__number-label" style="margin-right: 10px;"> {{ videoDurationLabel }}</span>

        <!-- Looping Button -->
        <button #loopButton (click)="changeLoopSetting()">
            <span class="material-symbols-sharp loop-option"> {{ loop ? 'repeat_on' : 'repeat'}} </span>
        </button>

    </div>
</div>
